html {
  font: 100%/1.15 serif;
  }

body {
  font-family: Georgia, serif;
  margin: 0;
  }

.framework {
  width: 90%;
  max-width: 60em;
  margin: 0 auto;
  }

#banner h1 {
  font-size: 3em;
  }

#letters {
  color: #fff;
  background-color: #000;
  padding: 2em 0;
  }

#letters p {
  font-size: 3em;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  }

#letters span {
  display: block;
  }

#about {
  color: #fff;
  background-color: #000;
  padding: 2em 0;
  }

#about p {
  font-size: .5em;
  Line-hight: .5;
  text-align: center;
  margin-Top: .5em;
  margin-bottom: .5em;

#about span {
  display: block;
  }

#numbers {
  color: #666;
  padding: 2em 0;
  border-bottom: 1px dotted #000;
  }

#numbers p {
  font-size: 6em;
  line-height: 1.3;
  margin-top: -3em;
  margin-bottom: 0;
  }

#numbers span {
  display: block;
  }


/* wider screens / layout */

@media (min-width: 40em) {


#banner h1 {
  font-size: 6em;
  }

#numbers p {
  font-size: 6em;
  }

}

@media (min-width: 60em) {


#banner h1 {
  font-size: 9em;
  }

#numbers p {
  font-size: 9em;
  }

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float:left;

}

li a {
    display:block;
    color: white;
    text-align: center;
    padding: 16px 30px;
    margin:
    text-decoration: none;
    line-height: 200%
}

li a:hover {
    background-color: #666;
}
